<div>
    <br>
    <h2 style="text-align:center">Welcome</h2>
    <p> Welcome to my rather amateurish website.  My goal here (and hopefully yours too) is to see whether or not I'm making meaningful stock selections or would just be
        better off buying a simple index ETF (like SPY) or Vanguard's S&amp;P 500 Index Fund.
    </p>
    <p> I have a ways to go here as working on this in the evenings and on weekends
        makes for slow progress.  Ultimately, this site will be comprised of UI that is Single Page Application built around Angular.  The backend will be
        a Spring Boot application. You can see what I've completed recently on the <a [routerLink]="['/about/recent']">Recently Completed Page</a>
        and what still needs to be finished on the <a [routerLink]="['/about/todo']">To Do Page</a>.
    </p>
    <p> To play around on this site, you can either... </p>

    <p><a class="styled-like-anchor" [routerLink]="['/about/recent']">Create Your Own Account</a></p>

    <p> ...or... </p>

    <p class="styled-like-anchor" (click)="quickLogin()">Use a Shared Account</p>


    <h4> Ready to Give it a Try? </h4>

    <p class="second-level">
        After logging in, you can create the securities that you plan to buy and sell using the "Stocks Being Tracked" pages.
    </p>
    <p class="second-level">
        Next, you should enter your BUYs and SELLs on the "Transactions" pages.
    </p>
    <p class="second-level">
        Finally, you will then be able to analyze the BUYs and SELLs vs benchmark transactions on the "Calculations -> Benchmark"
        page.
    </p>
    <h4>Caveats</h4>
    <ul>
        <li>
            This is most definitely a work in progress.  Don't make any investment decisions without double-checking these calculations.
        </li>
        <li>
            All of the returns are "simple" return calculations.  On the wishlist... supporting Internal Rate of Return / Annualized Return calculations.
        </li>
        <li>
            This website is running on an Amazon t3a.small EC2 instance.  Please be tolerant of some poor performance.  Maybe some day, I'll upgrade to a
            "real" server.
        </li>
        <li>
            It's probably worth noting that I have primarily tested with Google's Chrome browser and a little with Mozilla's Firefox.
        </li>
    </ul>
    <p>
        If you have any comments, feel free to <a href="mailto:info@wolfe-software.com?subject=Feedback for wolfe-software.com">contact me.</a>
        And most importantly...  Happy investing!
    </p>
    <br>
</div>
