.top-div
    text-align: center
    margin-top: 30px

.title, .subtitle
    text-align: center


.ui-or-server
    margin-botoom: 50px
    margin-top: 50px
    h2
        text-decoration: underline


.build-details
    text-indent: 30px