<div class="top-div">
    <h2> About - In Search of Alpha</h2>
    <h4>http://stocks.wolfe-software.com</h4>
    <img src="assets/img/transparent-wolf.png" width="100px" height="100px">
</div>

<div class="ui-or-server">
    <h2>UI</h2>
    <div class="build-details">
        <p>Version: {{ uiVersion}}</p>
        <p>Build Date: {{ uiBuildDate | date:'longDate' }}</p>
        <p>Git Commit Hash: {{ uiGitHash }}</p>
    </div>
</div>
<div class="ui-or-server">
    <h2>Server</h2>
    <div class="build-details">
        <p>Version:  {{serverVersion}}</p>
        <p>Build Date: {{ serverBuildDate | date:'longDate' }}</p>
        <p>Git Commit Hash: {{ serverGitHash }}</p>
    </div>

</div>