<h1>{{lifecycle.stock.ticker}} - {{lifecycle.stock.name}}</h1>

<mat-dialog-content>
    <table class="micro-table" mat-table [dataSource]="lifecycleDataSource">

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let event" (click)="examineEvent(event)" [class.cursor-pointer]=event.date> {{event.date | date:'mediumDate'}} </td>
            <td mat-footer-cell *matFooterCellDef>  Totals </td>
        </ng-container>

        <!-- Stock Activity Column -->
        <ng-container matColumnDef="stockActivity">
            <th mat-header-cell *matHeaderCellDef> Stock Activity </th>
            <td mat-cell *matCellDef="let event" (click)="examineEvent(event)" [class.cursor-pointer]=event.stockActivity> {{event.stockActivity}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

        <!-- Stock Size Column -->
        <ng-container matColumnDef="stockSize">
            <th mat-header-cell *matHeaderCellDef> Stock Size </th>
            <td mat-cell *matCellDef="let event" (click)="examineEvent(event)" [class.cursor-pointer]=event.stockSize> {{event.stockSize}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

        <!-- Stock Proceeds Column -->
        <ng-container matColumnDef="stockProceeds">
            <th mat-header-cell *matHeaderCellDef> Stock Proceeds </th>
            <td mat-cell *matCellDef="let event" (click)="examineEvent(event)" [class.cursor-pointer]=event.stockProceeds> {{event.stockProceeds | currency}} </td>
            <td mat-footer-cell *matFooterCellDef>  {{lifecycle.profitsFromSecurities | currency}} </td>
        </ng-container>

        <!-- Dividend Proceeds Column -->
        <ng-container matColumnDef="dividendProceeds">
            <th mat-header-cell *matHeaderCellDef> Dividend Proceeds </th>
            <td mat-cell *matCellDef="let event" (click)="examineEvent(event)" [class.cursor-pointer]=event.dividendProceeds> {{event.dividendProceeds | currency}} </td>
            <td mat-footer-cell *matFooterCellDef>  {{lifecycle.dividendsAccrued | currency}} </td>
        </ng-container>

        <!-- Option Activity Column -->
        <ng-container matColumnDef="optionActivity">
            <th mat-header-cell *matHeaderCellDef> Option Activity </th>
            <td mat-cell *matCellDef="let event" (click)="examineEvent(event)" [class.cursor-pointer]=event.optionActivity> {{event.optionActivity | activity}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

        <!-- Option Number of Contracts Column -->
        <ng-container matColumnDef="optionNumberOfContracts">
            <th mat-header-cell *matHeaderCellDef> Number of Contracts </th>
            <td mat-cell *matCellDef="let event" (click)="examineEvent(event)" [class.cursor-pointer]=event.optionNumberOfContracts> {{event.optionNumberOfContracts}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

        <!-- Option Proceeds Column -->
        <ng-container matColumnDef="optionProceeds">
            <th mat-header-cell *matHeaderCellDef> Option Proceeds </th>
            <td mat-cell *matCellDef="let event" (click)="examineEvent(event)" [class.cursor-pointer]=event.optionProceeds> {{event.optionProceeds | currency}} </td>
            <td mat-footer-cell *matFooterCellDef>  {{lifecycle.optionProceedsAccrued | currency}} </td>
        </ng-container>

        <!-- Header Row and Zebra Rows -->
        <tr mat-header-row *matHeaderRowDef="lifecycleDisplayedColumns sticky:true"></tr>
        <tr mat-row *matRowDef="let row;
                                let even = even;
                                columns: lifecycleDisplayedColumns;"
                    [ngClass]="{zebra: even}"></tr>
        <tr mat-footer-row *matFooterRowDef="lifecycleDisplayedColumns sticky:true"></tr>

    </table>
</mat-dialog-content>