<div>
    <br>
    <h2 style="text-align:center">Things to do</h2>
    <p>
        This is likely to be a very long list, but for now, I'm going to try to track all of stuff that will need to be done over time.
        A lot of the server side functionality is already present as a Spring Boot app running on an AWS t3a.small EC2 instance.
        Most of the work below is strictly UI work.
    </p>
    <div class="parent-div">
        <div class="child-div">
            <h4>General</h4>
            <ul>
                <li>Allow users to change between dark scheme and light scheme</li>
                <li class="completed">Quick login to anonymous / group account</li>
                <li class="completed">Support logging in with Google Credentials</li>
                <li>Use entire SocialUser not just image in Current User</li>
                <li>Support JWT refresh token and handle expiration of token</li>
            </ul>
            <h4>CRUD</h4>
            <ul>
                <li class="completed">Add Busy indicator to Create Stock</li>
                <li>Think about renaming "ticker" to "stock"</li>
                <li class="completed">Investigate change detection on assigning table items</li>
                <li>Filter for Transactions</li>
                <li>User Profile</li>
                <li>Be able to create a "ticker/stock" on the fly when creating a transaction</li>
                <li>"Update" button should not be activated until something has actually changed</li>
                <li>SERVER - Provide a better message when DELETE violates foreign key constraint</li>
            </ul>
        </div>
        <div class="child-div">
            <h4>Calculations</h4>
            <ul>
                <li>Comparison vs Benchmark</li>
                    <ul>
                        <li class="completed">BUG - SERVER - Calculations incorrect on stock split date - See AAPL on 8/31/2020</li>
                        <li class="completed">Tweak styling for ngx-graphs</li>
                        <li>Handle selection of stocks as users toggle around portfolios</li>
                        <li>SERVER - Reuse Opening Positions</li>
                    </ul>
                <li>Income</li>
                <ul>
                    <li>Support drill down into price per share on transactions</li>
                </ul>
                <li>SERVER - Implement a better IRR calculator</li>
            </ul>
        </div>
    </div>
</div>