<div>
    <div class="left-div">
    <br>
    <h2 style="text-align:center">Things to do</h2>
    <p>
        This is likely to be a very long list, but for now, I'm going to try to track all of stuff that will need to be done over time.
        A lot of the server side functionality is already present as a Spring Boot app running on an AWS t3a.small EC2 instance.
        Most of the work below is strictly UI work.
    </p>
    <div class="parent-div">
        <div class="child-div">
            <h4>General</h4>
            <ul>
                <li class="completed">Implement a "Busy" indicator of some type</li>
                <li>Color Scheme</li>
                    <ul>
                        <li>Tweak colors</li>
                        <li>Allow users to change between dark scheme and light scheme</li>
                    </ul>
                <li>About->About etc</li>
                <li class="completed">Page Scrolling Bugs</li>
                    <ul>
                        <li class="completed">Content visible when scrolling behind header and footer</li>
                        <li class="completed">Sticky headers on tables come to front even when scrolled away</li>
                    </ul>
                <li>Support logging in with Google Credentials</li>
                <li class="completed">Add Git revision numbers / build dates to the builds & show them in About</li>
                <li class="completed">Investigate delays on Saturdays with updates</li>
                <li>Roll JWT on each request/response</li>
                <li>Upgrade Angular from 9 to 10 & other packages</li>
            </ul>
            <h4>CRUD</h4>
            <ul>
                <li class="completed">Support multiple deletes on all List pages</li>
                <li>Investigate digest cycle on assigning table items</li>
                <li>User Profile</li>
                <li>"Update" button should not be activated until something has actually changed</li>
                <li class="completed">SERVER - Controllers - Centralize common code</li>
                <li class="completed">SERVER - Support Multiple delete in Services and Repo layers</li>
                <li>SERVER - Provide a better message when delete violates foreign key constraint</li>
            </ul>
        </div>
        <div class="child-div">
            <h4>Calculations</h4>
            <ul>
                <li>Comparison vs Benchmark</li>
                    <ul>
                        <li class="completed">Graph for intermediate results</li>
                        <li>Tweak styling for graphs</li>
                        <li class="completed">SERVER - Improve caching</li>
                        <li>SERVER - Reuse Opening Positions</li>
                    </ul>
                <li>Income</li>
                <ul>
                    <li>Support drill down into price per share on transactions</li>
                </ul>
                <li>Implement a better IRR calculator (backend work required)</li>
            </ul>
            </div>
        </div>
    </div>
</div>