@use 'src/wolfe-colors'
@use 'src/styles'

.income-calculator-div
    margin-top: 20px
    text-align: center

.left-right-container
    display: flex

.flex-child
    flex: 1


.flex-child:first-child
    margin-right: 80px


.portfolio-scrollable-div
    height: 270px
    overflow-y: auto

.ticker-scrollable-div
    height: 550px
    overflow-y: auto

.timeframe-div
    background-color: wolfe-colors.$wolfe-background-card

.timeframe-radio-group
    display: flex
    flex-direction: column
    margin: 15px 0

.timeframe-radio-button
    margin: 5px


/* The timeframe radio buttons are by default 20px */
/* Make them slightly smaller for this page */

::ng-deep .mat-radio-button
    line-height: 14px !important
    margin: 3px !important


.hideShowContainingDiv
    display: flex
    flex-direction: row

.hideShowLineDiv
    padding-top: 10px
    flex: 2

.hideShowButtonDiv
    flex: 1

.mat-icon-button
    background-color: wolfe-colors.$wolfe-accent

.analysis-results-div
    margin-top: 20px

.snapshot-div
    margin-top: 20px


.mat-column-proceeds
    @extend %mat-column-right-justified

.mat-column-dividendProceeds
    @extend %mat-column-right-justified

.mat-column-optionsProceeds
    @extend %mat-column-right-justified

.mat-column-totalGains
    @extend %mat-column-right-justified

.mat-column-averageCapitalAtRisk
    @extend %mat-column-right-justified

.mat-column-annualReturn
    @extend %mat-column-right-justified

.mat-column-stockValue
    @extend %mat-column-right-justified

.mat-column-putExposure
    @extend %mat-column-right-justified

.mat-column-totalLongExposure
    @extend %mat-column-right-justified

.mat-column-callExposure
    @extend %mat-column-right-justified
