<div class="vertical-div">
    <h2> Administraton:</h2>
    <form class="vertical-div left-align-radio-buttons" [formGroup]="adminGroup" (ngSubmit)="onSubmit()">
        <mat-radio-group class="standard-control-width line-height-adjustment" formControlName="requestedAction">
            <mat-radio-button value="1">Update all Stock Prices</mat-radio-button>
            <mat-radio-button value="2">Update all Dividends</mat-radio-button>
            <mat-radio-button value="3">Update all Stock Splits</mat-radio-button>
        </mat-radio-group>
        <div>
            <button mat-raised-button color="accent" type="submit" class="submit-button" [disabled]="!adminGroup.valid || busy">Submit</button>
        </div>

    </form>
</div>
