<div class="vertical-form">
    <h2>
        <span *ngIf="attemptingToCreate; else update">Create a New Portfolio </span>
        <ng-template #update>
            Modify an Existing Portfolio
        </ng-template>
    </h2>
    <form class="vertical-form" [formGroup]="portfolioDetailsGroup" (ngSubmit)="onSubmit()">
        <mat-form-field class="standard-control-width">
            <mat-label>Portfolio Name</mat-label>
            <input matInput placeholder="Portfolio Name" formControlName="portfolioName" />
            <mat-error *ngIf="!portfolioDetailsGroup.controls['portfolioName'].valid &&  portfolioDetailsGroup.controls['portfolioName'].touched">
              {{ getErrorForPortfolioName() }}
            </mat-error>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" type="submit" class="portfolio-details-button" [disabled]="!portfolioDetailsGroup.valid">
                <span *ngIf="attemptingToCreate; else updateButtonText">Create</span>
                <ng-template #updateButtonText>
                    Update
                </ng-template>
            </button>
        </div>
    </form>
</div>
