
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Button which will drop down menu for wolfe-software.com">
    <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button routerLink='/welcome' mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>
    <button *ngIf="isAdmin" routerLink='/admin' mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Admin</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="portfolios">
        <mat-icon>folder_open</mat-icon>
        <span>Portoflios</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="tickers">
        <mat-icon>trending_up</mat-icon>
        <span>Stocks Being Tracked</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="options">
        <mat-icon>help</mat-icon>
        <span>Options Being Tracked</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="transactions">
        <mat-icon>shopping_cart</mat-icon>
        <span>Transactions</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="calculators">
        <mat-icon>attach_money</mat-icon>
        <span>Calculators</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="about">
        <mat-icon>info</mat-icon>
        <span>About</span>
    </button>
</mat-menu>
<mat-menu #about="matMenu">
    <button routerLink='/about/todo' mat-menu-item>
        <mat-icon>check_circle</mat-icon>
        <span>To Do</span>
    </button>
    <button routerLink='/about/recent' mat-menu-item>
        <mat-icon>calendar_today</mat-icon>
        <span>Recent Changes</span>
    </button>
    <button routerLink='/about/about' mat-menu-item>
        <mat-icon>info</mat-icon>
        <span>About</span>
    </button>
</mat-menu>
<mat-menu #tickers="matMenu">
    <button routerLink='/ticker' mat-menu-item>
        <mat-icon>list_alt</mat-icon>
        <span>List</span>
    </button>
    <button routerLink='/ticker/create' mat-menu-item>
        <mat-icon>create</mat-icon>
        <span>Create</span>
    </button>
</mat-menu>
<mat-menu #options="matMenu">
    <button routerLink='/option' mat-menu-item>
        <mat-icon>list_alt</mat-icon>
        <span>List</span>
    </button>
    <button routerLink='/option/create' mat-menu-item>
        <mat-icon>create</mat-icon>
        <span>Create</span>
    </button>
</mat-menu>
<mat-menu #portfolios="matMenu">
    <button routerLink='/portfolio' mat-menu-item>
        <mat-icon>list_alt</mat-icon>
        <span>List</span>
    </button>
    <button routerLink='/portfolio/create' mat-menu-item>
        <mat-icon>create</mat-icon>
        <span>Create</span>
    </button>
</mat-menu>
<mat-menu #transactions="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="tickerTransactions">
        <mat-icon>trending_up</mat-icon>
        <span>Stock Transactions</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="optionTransactions">
        <mat-icon>help</mat-icon>
        <span>Option Transactions</span>
    </button>
</mat-menu>
<mat-menu #tickerTransactions="matMenu">
    <button routerLink='/ticker-transaction' mat-menu-item>
        <mat-icon>list_alt</mat-icon>
        <span>List</span>
    </button>
    <button routerLink='/ticker-transaction/create' mat-menu-item>
        <mat-icon>create</mat-icon>
        <span>Create</span>
    </button>
</mat-menu>
<mat-menu #optionTransactions="matMenu">
    <button routerLink='/option-transaction' mat-menu-item>
        <mat-icon>list_alt</mat-icon>
        <span>List</span>
    </button>
    <button routerLink='/option-transaction/create' mat-menu-item>
        <mat-icon>create</mat-icon>
        <span>Create</span>
    </button>
</mat-menu>
<mat-menu #calculators="matMenu">
    <button routerLink='/income-calculator' mat-menu-item>
        <mat-icon>attach_money</mat-icon>
        <span>Income Calculator</span>
    </button>
    <button routerLink='/benchmark-calculator' mat-menu-item>
        <mat-icon>trending_up</mat-icon>
        <span>Benchmark Calculator</span>
    </button>
</mat-menu>


