<div class="vertical-div">
    <h2> Create Your Credentials:</h2>
    <mat-card class="mat-elevation-z4">
      <form class="vertical-div" [formGroup]="registerGroup" (ngSubmit)="onSubmit()">
          <mat-form-field class="standard-control-width">
              <mat-label>User Name</mat-label>
              <input matInput placeholder="User Name" formControlName="userName">
              <mat-error *ngIf="!registerGroup.controls['userName'].valid &&  registerGroup.controls['userName'].touched">
                {{ getErrorUserName() }}
              </mat-error>
          </mat-form-field>
          <mat-form-field class="standard-control-width">
              <input matInput placeholder="Password" formControlName="password">
              <mat-error *ngIf="!registerGroup.controls['password'].valid && registerGroup.controls['password'].touched">
                {{ getErrorPassword() }}
              </mat-error>
          </mat-form-field>
          <mat-form-field class="standard-control-width">
              <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
              <mat-error *ngIf="!registerGroup.controls['confirmPassword'].valid && registerGroup.controls['confirmPassword'].touched">
                {{ getErrorConfirmPassword() }}
              </mat-error>
          </mat-form-field>
          <mat-form-field class="standard-control-width">
            <input matInput placeholder="Email Address" formControlName="emailAddress">
            <mat-error *ngIf="!registerGroup.controls['emailAddress'].valid && registerGroup.controls['emailAddress'].touched ">
              {{ getErrorEmailAddress() }}
            </mat-error>
        </mat-form-field>
        <div>
              <button mat-raised-button color="accent" type="submit" class="submit-button" [disabled]="!registerGroup.valid">Register</button>
          </div>
      </form>
    </mat-card>
</div>
