<div>
    <br>
    <h2 style="text-align:center">Recently Completed Items</h2>
    <ul>
        <li>11/28/2020 - Fix Logout bug</li>
        <li>11/28/2020 - Remove unnecessary complexities associated with change detection</li>
        <li>11/28/2020 - Add support for logging in with Google credentials</li>
        <li>11/20/2020 - Fix server bug in calculating values on stock split date</li>
        <li>11/20/2020 - Support a one-click login to a group account</li>
        <li>11/18/2020 - Add Busy indicator to Create Stock</li>
        <li>11/17/2020 - Improved styling of Line Chart on Benchmark Analysis Page</li>
        <li>11/16/2020 - Added this page</li>
        <li>11/15/2020 - Upgraded to Angular 11 (and other packages)</li>
        <li>11/14/2020 - Support Basic Chart functionality on Benchmark Analysis</li>
    </ul>
</div>
