
/* Outer div will absolutely be positioned in between the top-of-page and bottom-of-page components */
/* When a scroll bar appears, it will be at the extreme right hand side of the page */
div.outer-div
    position: absolute
    top: 80px
    bottom: 44px
    left: 0px
    right: 0px
    overflow-y: auto

/* This inner div causes all content to occupy the center 80% of the page */
div.content-80
    margin-left: 10%
    width: 80%


