<div class="portfolios-div">
    <h2> Your Portfolios</h2>

    <div class="full-page-scrollable-div-for-table mat-elevation-z8">
        <table class="standard-table" mat-table [dataSource]="dataSource"
                matSort matSortActive="portfolioName" matSortDisableClear matSortDirection="asc">

            <!-- Checkbox Column-->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox   (change)="$event ? wcits.masterToggle(selection, dataSource) : null"
                                    [checked]="selection.hasValue() && wcits.areAllSelected(selection, dataSource)"
                                    [indeterminate]="selection.hasValue() && !wcits.areAllSelected(selection, dataSource)"
                                    [aria-label]="wcits.createCheckboxLabel(selection, dataSource)">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox   (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)"
                                    [aria-label]="wcits.createCheckboxLabel(selection, dataSource,row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <!-- Portfolio Name Column-->
            <ng-container matColumnDef="portfolioName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Portfolio Name </th>
                <td mat-cell *matCellDef="let portfolio"> {{portfolio.portfolioName}} </td>
            </ng-container>
            <!-- Date of creation -->
            <ng-container matColumnDef="createDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>  Created </th>
                <td mat-cell *matCellDef="let portfolio"> {{portfolio.createDate | date:'medium' }} </td>
            </ng-container>
            <!-- Last Updated -->
            <ng-container matColumnDef="updateDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>  Last Updated </th>
                <td mat-cell *matCellDef="let portfolio"> {{portfolio.updateDate | date:'medium' }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true" ></tr>
            <tr mat-row *matRowDef="let row;
                                    let even = even;
                                    columns: displayedColumns;"
                        [ngClass]="{zebra: even}"></tr>
        </table>
    </div>
    <div>
        <button mat-raised-button color="accent" class="submit-button" [disabled]="!wcits.isExactlyOneSelected(selection)" (click)="editSelectedItem()">Edit</button>
        <button mat-raised-button color="warn" class="submit-button" [disabled]="!wcits.isExactlyOneSelected(selection)" (click)="deleteSelectedItems()">Delete</button>
        <button mat-raised-button color="accent" class="submit-button" [routerLink]="['/portfolio/create']">Create New</button>
    </div>


</div>
