<div class="vertical-form">
    <h2>
        <span *ngIf="attemptingToCreate; else update">Track a New Stock, ETF, or Mutual Fund </span>
        <ng-template #update>
            Modify a Stock, ETF or Mutual Fund that You're Tracking
        </ng-template>
    </h2>
    <form class="vertical-form" [formGroup]="tickerDetailsGroup" (ngSubmit)="onSubmit()">
        <mat-form-field class="standard-control-width">
            <mat-label>Ticker</mat-label>
            <input matInput placeholder="Ticker" formControlName="ticker" />
            <mat-error *ngIf="!tickerDetailsGroup.controls['ticker'].valid &&  tickerDetailsGroup.controls['ticker'].touched">
              {{ getErrorTicker() }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="standard-control-width">
            <input matInput placeholder="Stock or Mutual Fund Name" formControlName="name" />
            <mat-error *ngIf="!tickerDetailsGroup.controls['name'].valid && tickerDetailsGroup.controls['name'].touched">
              {{ getErrorName() }}
            </mat-error>
        </mat-form-field>
        <mat-checkbox  class="standard-control-width" [formControl]="benchmark"> Use as benchmark?</mat-checkbox>
        <div>
            <button mat-raised-button color="primary" type="submit" class="submit-button" [disabled]="busy || !tickerDetailsGroup.valid">
                <span *ngIf="attemptingToCreate; else updateButtonText">Create</span>
                <ng-template #updateButtonText>
                    Update
                </ng-template>
            </button>
        </div>
    </form>
</div>
