@use 'src/wolfe-colors'

footer
    position: fixed
    overflow: hide
    bottom: 0
    left: 0
    right: 0
    color: white
    background-color: wolfe-colors.$wolfe-primary
    text-align: center
    font-size: 12px
    margin: 8px
    // NOTE: margin-right set to 0 because I can't seem to fix the top-of-page component to have a margin-right of 8
    margin-right: 0px
    padding: 15px


