.option-selection-div
    display: flex
    flex-direction: column


.either-or-div
    display: flex
    flex-direction: row


.child-card
    margin-left: 20px
    margin-right: 20px

.vertical-centered-div
    display: flex
    flex-direction: column
    align-items: center