<div class="vertical-div">
    <h2>
        <span *ngIf="attemptingToCreate; else update">Create a New Option Transaction </span>
        <ng-template #update>
            Modify an Existing Option Transaction
        </ng-template>
    </h2>
    <mat-card class="mat-elevation-z4">
    <form class="vertical-div" [formGroup]="optionTransactionDetailsGroup" (ngSubmit)="onSubmit()">
        <mat-form-field class="standard-control-width" color="accent" appearance="standard">
            <mat-label>Option Transaction Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="!optionTransactionDetailsGroup.controls['date'].valid &&  optionTransactionDetailsGroup.controls['date'].touched">
                {{ getErrorDate() }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="standard-control-width" color="accent" appearance="standard">
            <mat-label>Portfolio Name</mat-label>
            <mat-select  formControlName="portfolio">
                <mat-option *ngFor="let portfolio of portfolios" [value]="portfolio.id">
                    {{portfolio.portfolioName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="!optionTransactionDetailsGroup.controls['portfolio'].valid &&  optionTransactionDetailsGroup.controls['portfolio'].touched">
                {{ getErrorPortfolio() }}
            </mat-error>
        </mat-form-field>
        <mat-card class="mat-elevation-z4">
            <div class="option-selection-div">
                <mat-radio-group formControlName="existingOrNew">
                    <div class="either-or-div">
                        <div class="vertical-centered-div">
                            <mat-card class="mat-elevation-z4 child-card">
                                <mat-radio-button value="1" >Existing Option</mat-radio-button>
                                <div class="vertical-centered-div">
                                <mat-form-field class="standard-control-width" color="accent" appearance="standard">
                                    <mat-label>Option</mat-label>
                                    <mat-select  formControlName="option">
                                        <mat-option *ngFor="let option of options" [value]="option.id">
                                            {{option.getName()}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="!optionTransactionDetailsGroup.controls['option'].valid &&  optionTransactionDetailsGroup.controls['option'].touched">
                                        {{ getErrorOption() }}
                                    </mat-error>
                                </mat-form-field>
                                </div>
                            </mat-card>
                        </div>

                        <div class="vertical-centered-div">
                            <mat-card class="mat-elevation-z4 child-card">
                                <mat-radio-button value="2" >New Option</mat-radio-button>
                                <div class="vertical-centered-div">
                                    <mat-form-field class="standard-control-width" color="accent" appearance="standard">
                                        <mat-label>Call or Put</mat-label>
                                        <mat-select  formControlName="optionType">
                                            <mat-option *ngFor="let optionType of optionTypes" [value]="optionType">
                                                {{optionType}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="standard-control-width" color="accent" appearance="standard">
                                        <mat-label>Stock Symbol</mat-label>
                                        <mat-select  formControlName="stock">
                                            <mat-option *ngFor="let stock of stocks" [value]="stock.id">
                                                {{stock.ticker}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="standard-control-width" color="accent" appearance="standard">
                                        <mat-label>Expiration Date</mat-label>
                                        <input matInput [matDatepicker]="picker2" formControlName="expirationDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field class="standard-control-width" >
                                        <input matInput placeholder="Strike Price" formControlName="strikePrice" [value]="optionTransactionDetailsGroup.controls['strikePrice'].value"/>
                                    </mat-form-field>
                                </div>
                            </mat-card>
                        </div>
                    </div> <!-- either-or-div -->
                </mat-radio-group>
            </div>
        </mat-card>
        <mat-form-field class="standard-control-width" color="accent" appearance="standard">
            <mat-label>Buy or Sell</mat-label>
            <mat-select  formControlName="activity">
                <mat-option *ngFor="let activity of activities" [value]="activity">
                    {{activity | activity}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="!optionTransactionDetailsGroup.controls['activity'].valid &&  optionTransactionDetailsGroup.controls['activity'].touched">
                {{ getErrorActivity() }}
            </mat-error>
          </mat-form-field>
        <mat-form-field class="standard-control-width" >
            <mat-label>Number of Contracts</mat-label>
            <input matInput placeholder="Number of Contracts" formControlName="numberOfContracts" />
            <mat-error *ngIf="!optionTransactionDetailsGroup.controls['numberOfContracts'].valid &&  optionTransactionDetailsGroup.controls['numberOfContracts'].touched">
              {{ getErrorNumberOfContracts() }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="standard-control-width" >
            <input matInput placeholder="Total Amount in Dollars" formControlName="amount" [value]="optionTransactionDetailsGroup.controls['amount'].value"/>
            <mat-error *ngIf="!optionTransactionDetailsGroup.controls['amount'].valid &&  optionTransactionDetailsGroup.controls['amount'].touched">
                {{ getErrorAmount() }}
            </mat-error>
        </mat-form-field>
        <div>
            <button mat-raised-button color="accent" type="submit" class="submit-button" [disabled]="busy || !optionTransactionDetailsGroup.valid">
                <span *ngIf="attemptingToCreate; else updateButtonText">Create</span>
                <ng-template #updateButtonText>
                    Update
                </ng-template>
            </button>
        </div>
    </form>
    </mat-card>
</div>
