<div class="vertical-div">
    <h2> Enter Your Credentials:</h2>
    <form class="vertical-div" [formGroup]="loginGroup" (ngSubmit)="onSubmit()">
        <mat-form-field class="standard-control-width">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="User Name" formControlName="userName">
            <mat-error *ngIf="!loginGroup.controls['userName'].valid &&  loginGroup.controls['userName'].touched">
              {{ getErrorUserName() }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="standard-control-width">
            <input matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="!loginGroup.controls['password'].valid && loginGroup.controls['password'].touched">
              {{ getErrorPassword() }}
            </mat-error>
        </mat-form-field>
        <div>
            <button mat-raised-button color="accent" type="submit" class="submit-button" [disabled]="!loginGroup.valid">Login</button>
        </div>
        <div class="register-div">
            <span>Or <a href="/user/register"> REGISTER </a> here!!!</span>
        </div>
    </form>
</div>
