
$wolfe-accent-color-range: (
    50 : #eaeee9,
    100 : #cad4c7,
    200 : #a7b8a2,
    300 : #839b7d,
    400 : #698561,
    500 : #4e7045,
    600 : #47683e,
    700 : #3d5d36,
    800 : #35532e,
    900 : #25411f,
    A100 : #99ff85,
    A200 : #6eff52,
    A400 : #43ff1f,
    A700 : #2eff06,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$wolfe-primary-color-range: (
    50 : #e6eef1,
    100 : #c1d4dd,
    200 : #98b8c7,
    300 : #6f9bb0,
    400 : #50859f,
    500 : #31708e,
    600 : #2c6886,
    700 : #255d7b,
    800 : #1f5371,
    900 : #13415f,
    A100 : #97d3ff,
    A200 : #64bdff,
    A400 : #31a7ff,
    A700 : #189cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$wolfe-warn-color-range: (
    50 : #f0e5e6,
    100 : #dabebf,
    200 : #c29395,
    300 : #aa686b,
    400 : #97474b,
    500 : #85272b,
    600 : #7d2326,
    700 : #721d20,
    800 : #68171a,
    900 : #550e10,
    A100 : #ff8b8f,
    A200 : #ff585e,
    A400 : #ff252c,
    A700 : #ff0c13,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
