
$wolfe-accent-color-range: (
    50 : #e6f1ee,
    100 : #c1dcd4,
    200 : #97c5b7,
    300 : #6dad9a,
    400 : #4e9c85,
    500 : #2f8a6f,
    600 : #2a8267,
    700 : #23775c,
    800 : #1d6d52,
    900 : #125a40,
    A100 : #92ffd4,
    A200 : #5fffc0,
    A400 : #2cffac,
    A700 : #13ffa2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$wolfe-primary-color-range: (
    50 : #e7f0f6,
    100 : #c3dae7,
    200 : #9cc2d8,
    300 : #74a9c8,
    400 : #5696bc,
    500 : #3884b0,
    600 : #327ca9,
    700 : #2b71a0,
    800 : #246797,
    900 : #175487,
    A100 : #bedfff,
    A200 : #8bc6ff,
    A400 : #58aeff,
    A700 : #3ea1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$wolfe-warn-color-range: (
    50 : #f0e5e6,
    100 : #dabebf,
    200 : #c29395,
    300 : #aa686b,
    400 : #97474b,
    500 : #85272b,
    600 : #7d2326,
    700 : #721d20,
    800 : #68171a,
    900 : #550e10,
    A100 : #ff8b8f,
    A200 : #ff585e,
    A400 : #ff252c,
    A700 : #ff0c13,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
