
/* Used by most data entry forms ('Create Transaction', 'Edit Option', 'Login') */
.vertical-div
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    flex-direction: column
    /* Every component must move itself down the page from the preceeding component by 20px */
    /*  but the busy div is currently occupying 20px - for some unknown reason, */
    /*  so the highest div does not need to move itself down */
    margin-top: 0px



/* Used for calendar controls, drop-downs, input fields, etc. */
.standard-control-width
    width: 255px

/* When you need a little more space */
.wider-control-width
    width: 380px

/* Used for all buttons that typically sit at the bottom of pages to submit requests */
/* The !important will override Material's margin of 0px.  */
/* Interestingly, if this were placed in each component's SASS file, the !important would not be required */
.submit-button
    margin: 20px !important


.full-page-scrollable-div-for-table
    height: 550px
    overflow-y: auto

/*  TABLE RELATED CLASSES THAT ARE FREQUENTLY USED */


/* Most of our tables want to take up the full width and by default its text will be left aligned */
/* Virtually every table will want these attributes */
%standard-table
    width: 100%
    text-align: left

.standard-table
    @extend %standard-table

/* The compact table picks up all of the attrbitutes of the standard table */
/* In addition, the table row height is set to a smaller number to allow more rows to be visible in the alotted space */
.compact-table
    @extend %standard-table
    tr
        height: 28px !important

/* The compact table picks up all of the attrbitutes of the standard table */
/* In addition, the table row height is set to a smaller number to allow more rows to be visible in the alotted space */
.micro-table
    @extend %standard-table
    tr
        height: 20px !important


/* Simple alignment classes that will definitely be used for td's, but may be used for other items. */
.left-aligned
    text-alignt: left

.right-aligned
    text-align: right !important
    padding-right: 5px !important

.center-aligned
    text-align: center


%mat-column-right-justified
    padding-right: 20px
    text-align: right
    justify-content: flex-end
    ::ng-deep .mat-sort-header-container
        justify-content: flex-end


%mat-column-center-justified
    text-align: center


/* Used for the even rows of tables where appropriate */
/* NOTE: This is currently set assuming a dark-theme */
/* FIXME - This should be using some color from the palette */
.zebra
    background-color: #383838 !important


/* Used when an h4 is embedded in a div and needs */
/* to provide some spacing from the component above it */
.embedded-h4
    margin-top: 15px

/* It would be nice if this didn't need to be included at this very high level */
/* I could NOT get this to work if placed in the angular component's SASS file */
/* FIXME - This shoud be using some color from the palette */
.ngx-charts
    text
        fill: #909090 !important
    path
        stroke-width: 4px !important
